flows/flows_GITH.json
[{"id":"13597e85.aee481","type":"tab","label":"TUNAM","disabled":false,"info":""},{"id":"c62c3571.45aaa8","type":"tab","label":"NHANAM","disabled":false,"info":""},{"id":"818f68e5.b00258","type":"tab","label":"LINHCHI","disabled":false,"info":""},{"id":"a987bbca.d9b508","type":"mqtt-broker","z":"","name":"mic.duytan.edu.vn","broker":"mic.duytan.edu.vn","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dbc6c9.1c370938","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"e88a699f.f19b78","type":"ui_tab","z":"","name":"TUNAM","icon":"dashboard","order":1},{"id":"440068d6.944e98","type":"ui_group","z":"","name":"CLight","tab":"e88a699f.f19b78","order":1,"disp":true,"width":"6","collapse":false},{"id":"39453938.f35f76","type":"ui_group","z":"","name":"CMist","tab":"e88a699f.f19b78","order":3,"disp":true,"width":"6","collapse":false},{"id":"536764bf.1f915c","type":"ui_group","z":"","name":"CFan","tab":"e88a699f.f19b78","order":2,"disp":true,"width":"6","collapse":false},{"id":"a12e88eb.8d3618","type":"ui_group","z":"","name":"SLight","tab":"e88a699f.f19b78","order":4,"disp":true,"width":"6","collapse":false},{"id":"3af78bac.25ce04","type":"ui_group","z":"","name":"STemp","tab":"e88a699f.f19b78","order":5,"disp":true,"width":"6","collapse":false},{"id":"88cf0759.d14c58","type":"ui_group","z":"","name":"SHumi","tab":"e88a699f.f19b78","order":6,"disp":true,"width":"6","collapse":false},{"id":"cf67709d.aa90d","type":"ui_tab","z":"","name":"NHANAM","icon":"dashboard","order":2},{"id":"cfb868bc.2ff688","type":"ui_group","z":"","name":"CLight","tab":"cf67709d.aa90d","order":1,"disp":true,"width":"6","collapse":false},{"id":"71010cb5.4c34a4","type":"ui_group","z":"","name":"CFan","tab":"cf67709d.aa90d","order":2,"disp":true,"width":"6","collapse":false},{"id":"81bc39a9.a8c208","type":"ui_group","z":"","name":"CMist","tab":"cf67709d.aa90d","order":3,"disp":true,"width":"6","collapse":false},{"id":"c0da329f.8bc71","type":"ui_group","z":"","name":"SLight","tab":"cf67709d.aa90d","order":4,"disp":true,"width":"6","collapse":false},{"id":"c03b7cf9.d313d","type":"ui_group","z":"","name":"STemp","tab":"cf67709d.aa90d","order":5,"disp":true,"width":"6","collapse":false},{"id":"dd38cc3d.ca61b","type":"ui_group","z":"","name":"SHumi","tab":"cf67709d.aa90d","order":6,"disp":true,"width":"6","collapse":false},{"id":"1ec953b9.9c768c","type":"ui_tab","z":"","name":"LINHCHI","icon":"dashboard","order":3},{"id":"dd1ba90b.625018","type":"ui_group","z":"","name":"CLight","tab":"1ec953b9.9c768c","order":1,"disp":true,"width":"6","collapse":false},{"id":"b9b6530.0826bb","type":"ui_group","z":"","name":"CMist","tab":"1ec953b9.9c768c","order":3,"disp":true,"width":"6","collapse":false},{"id":"74e1417b.7e305","type":"ui_group","z":"","name":"CFan","tab":"1ec953b9.9c768c","order":2,"disp":true,"width":"6","collapse":false},{"id":"99b6743.8e0ef88","type":"ui_group","z":"","name":"SLight","tab":"1ec953b9.9c768c","order":4,"disp":true,"width":"6","collapse":false},{"id":"59fc008b.d1c3d","type":"ui_group","z":"","name":"STemp","tab":"1ec953b9.9c768c","order":5,"disp":true,"width":"6","collapse":false},{"id":"40a7dfd5.721f8","type":"ui_group","z":"","name":"SHumi","tab":"1ec953b9.9c768c","order":6,"disp":true,"width":"6","collapse":false},{"id":"2eee5e1f.7e7cb2","type":"mqtt in","z":"13597e85.aee481","name":"SENSOR DATA","topic":"Mushroom/Sensor/TUNAM","qos":"2","broker":"a987bbca.d9b508","x":200,"y":660,"wires":[["152b889a.264637","ba38fd02.01401","b65d737e.ecfc2","4873f544.b3ee4c"]]},{"id":"152b889a.264637","type":"function","z":"13597e85.aee481","name":"SLight","func":"msg.payload = JSON.parse(msg.payload).LIGHT;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":560,"wires":[["7d8d9f65.483e9","9c1e4c13.31377","f2519770.f4af38"]]},{"id":"7d8d9f65.483e9","type":"debug","z":"13597e85.aee481","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":480,"wires":[]},{"id":"9c1e4c13.31377","type":"ui_gauge","z":"13597e85.aee481","name":"","group":"a12e88eb.8d3618","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"lux","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":650,"y":540,"wires":[]},{"id":"f2519770.f4af38","type":"ui_chart","z":"13597e85.aee481","name":"","group":"a12e88eb.8d3618","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"200","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":650,"y":580,"wires":[[],[]]},{"id":"ba38fd02.01401","type":"function","z":"13597e85.aee481","name":"STemp","func":"msg.payload = JSON.parse(msg.payload).TEMP;\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":660,"wires":[["e0a737bd.22ff28","cde87828.944758"]]},{"id":"e0a737bd.22ff28","type":"ui_gauge","z":"13597e85.aee481","name":"","group":"3af78bac.25ce04","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":650,"y":640,"wires":[]},{"id":"cde87828.944758","type":"ui_chart","z":"13597e85.aee481","name":"","group":"3af78bac.25ce04","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":650,"y":680,"wires":[[],[]]},{"id":"b65d737e.ecfc2","type":"function","z":"13597e85.aee481","name":"SHumi","func":"msg.payload = JSON.parse(msg.payload).HUMI;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":760,"wires":[["5634a4e0.e9e93c","582eb373.e3a70c"]]},{"id":"5634a4e0.e9e93c","type":"ui_gauge","z":"13597e85.aee481","name":"","group":"88cf0759.d14c58","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":650,"y":740,"wires":[]},{"id":"582eb373.e3a70c","type":"ui_chart","z":"13597e85.aee481","name":"","group":"88cf0759.d14c58","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":650,"y":780,"wires":[[],[]]},{"id":"145b117f.f5f96f","type":"function","z":"13597e85.aee481","name":"send control","func":"let cmd={};\nif(msg.payload === true){\n    cmd.MIST = \"on\";\n}\nif(msg.payload === false){\n    cmd.MIST = \"off\";\n}\nmsg.payload = cmd;\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":320,"wires":[["24b1a01.3c8216"]]},{"id":"93738611.2fd788","type":"ui_switch","z":"13597e85.aee481","name":"","label":"MIST","group":"39453938.f35f76","order":0,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":590,"y":340,"wires":[["145b117f.f5f96f","33a2036.2c3c8fc","36a4c9ef.798e46"]]},{"id":"24b1a01.3c8216","type":"mqtt out","z":"13597e85.aee481","name":"COMMANDS REQUEST","topic":"Mushroom/Commands/REQUEST/TUNAM","qos":"2","retain":"true","broker":"a987bbca.d9b508","x":990,"y":400,"wires":[]},{"id":"407b71cc.1262c","type":"function","z":"13597e85.aee481","name":"CMist json to bool","func":"let val = JSON.parse(msg.payload).MIST;\n\nif(val === \"on\"){\n    msg.payload = 1;\n    return msg; \n}\nif(val === \"off\"){\n    msg.payload = 0;\n    return msg; \n}\n","outputs":1,"noerr":0,"x":410,"y":340,"wires":[["93738611.2fd788"]]},{"id":"a447670c.b11148","type":"function","z":"13597e85.aee481","name":"send control","func":"let cmd={};\nif(msg.payload === 1){\n    cmd.LIGHT = \"on\";\n}\nif(msg.payload === 0){\n    cmd.LIGHT = \"off\";\n}\nmsg.payload = cmd;\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":120,"wires":[["8b07102c.7707b","24b1a01.3c8216"]]},{"id":"cf1a998a.227ed8","type":"function","z":"13597e85.aee481","name":"send control","func":"let cmd={};\nif(msg.payload === true){\n    cmd.FAN = \"on\";\n}\nif(msg.payload === false){\n    cmd.FAN = \"off\";\n}\nmsg.payload = cmd;\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":220,"wires":[["24b1a01.3c8216"]]},{"id":"cf494e5d.9e89d","type":"mqtt in","z":"13597e85.aee481","name":"COMANDS RESPONSE","topic":"Mushroom/Commands/RESPONSE/TUNAM","qos":"2","broker":"a987bbca.d9b508","x":150,"y":240,"wires":[["407b71cc.1262c","b6410caf.aec71","54a3ad8.d474854","4873f544.b3ee4c"]]},{"id":"68b87110.9a5c7","type":"ui_switch","z":"13597e85.aee481","name":"","label":"LIGHT","group":"440068d6.944e98","order":0,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":590,"y":140,"wires":[["a447670c.b11148","339bf784.a098a8"]]},{"id":"8b07102c.7707b","type":"debug","z":"13597e85.aee481","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":950,"y":80,"wires":[]},{"id":"98fdd057.a6757","type":"ui_switch","z":"13597e85.aee481","name":"","label":"FAN","group":"536764bf.1f915c","order":0,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":590,"y":240,"wires":[["cf1a998a.227ed8","c3bcacbc.25b1f","f8ce6afb.1d77b8"]]},{"id":"b6410caf.aec71","type":"function","z":"13597e85.aee481","name":"CLight json to bool","func":"let val = JSON.parse(msg.payload).LIGHT;\n\nif(val === \"on\"){\n    msg.payload = 1;\n    return msg; \n}\nif(val === \"off\"){\n    msg.payload = 0;\n    return msg; \n}\n","outputs":1,"noerr":0,"x":410,"y":140,"wires":[["68b87110.9a5c7","dfcf4f0c.c9cd8"]]},{"id":"54a3ad8.d474854","type":"function","z":"13597e85.aee481","name":"CFan json to bool","func":"let val = JSON.parse(msg.payload).FAN;\n\nif(val === \"on\"){\n    msg.payload = 1;\n    return msg; \n}\nif(val === \"off\"){\n    msg.payload = 0;\n    return msg; \n}\n","outputs":1,"noerr":0,"x":410,"y":240,"wires":[["98fdd057.a6757"]]},{"id":"339bf784.a098a8","type":"function","z":"13597e85.aee481","name":"invert","func":"msg.payload = Math.abs(1 - msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":160,"wires":[["dfcf4f0c.c9cd8"]]},{"id":"dfcf4f0c.c9cd8","type":"function","z":"13597e85.aee481","name":"made edge","func":"let stt = {};\nstt.payload = Math.abs(1 - msg.payload);\nreturn stt;","outputs":1,"noerr":0,"x":950,"y":140,"wires":[["9af132b1.f8ca8","c31bbe37.7b28f"]]},{"id":"9af132b1.f8ca8","type":"ui_chart","z":"13597e85.aee481","name":"","group":"440068d6.944e98","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"10","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1130,"y":140,"wires":[[],[]]},{"id":"c31bbe37.7b28f","type":"debug","z":"13597e85.aee481","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1210,"y":100,"wires":[]},{"id":"36a4c9ef.798e46","type":"function","z":"13597e85.aee481","name":"invert","func":"msg.payload = Math.abs(1 - msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":360,"wires":[["33a2036.2c3c8fc"]]},{"id":"33a2036.2c3c8fc","type":"function","z":"13597e85.aee481","name":"made edge","func":"let stt = {};\nstt.payload = Math.abs(1 - msg.payload);\nreturn stt;","outputs":1,"noerr":0,"x":950,"y":340,"wires":[["1179676b.abe5b9"]]},{"id":"1179676b.abe5b9","type":"ui_chart","z":"13597e85.aee481","name":"","group":"39453938.f35f76","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"10","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1130,"y":340,"wires":[[],[]]},{"id":"f8ce6afb.1d77b8","type":"function","z":"13597e85.aee481","name":"invert","func":"msg.payload = Math.abs(1 - msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":260,"wires":[["c3bcacbc.25b1f"]]},{"id":"c3bcacbc.25b1f","type":"function","z":"13597e85.aee481","name":"made edge","func":"let stt = {};\nstt.payload = Math.abs(1 - msg.payload);\nreturn stt;","outputs":1,"noerr":0,"x":950,"y":240,"wires":[["a05b085c.ae3e88"]]},{"id":"a05b085c.ae3e88","type":"ui_chart","z":"13597e85.aee481","name":"","group":"536764bf.1f915c","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"10","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1130,"y":240,"wires":[[],[]]},{"id":"4873f544.b3ee4c","type":"file","z":"13597e85.aee481","name":"","filename":"TUNAM.log","appendNewline":true,"createDir":false,"overwriteFile":"false","x":390,"y":440,"wires":[[]]},{"id":"aa8ecdab.316a1","type":"mqtt in","z":"c62c3571.45aaa8","name":"SENSOR DATA","topic":"Mushroom/Sensor/17C80","qos":"2","broker":"a987bbca.d9b508","x":220,"y":660,"wires":[["9a5e1ded.13eb2","5ef4f7a.6227008","2e2b2d5d.016312","bab7954b.d974d8"]]},{"id":"9a5e1ded.13eb2","type":"function","z":"c62c3571.45aaa8","name":"SLight","func":"msg.payload = JSON.parse(msg.payload).LIGHT;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":560,"wires":[["915c693c.8e6a78","8880d724.fa9698","cbdeac30.8f6a3"]]},{"id":"915c693c.8e6a78","type":"debug","z":"c62c3571.45aaa8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":480,"wires":[]},{"id":"8880d724.fa9698","type":"ui_gauge","z":"c62c3571.45aaa8","name":"","group":"c0da329f.8bc71","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"lux","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":540,"wires":[]},{"id":"cbdeac30.8f6a3","type":"ui_chart","z":"c62c3571.45aaa8","name":"","group":"c0da329f.8bc71","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"200","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":670,"y":580,"wires":[[],[]]},{"id":"5ef4f7a.6227008","type":"function","z":"c62c3571.45aaa8","name":"STemp","func":"msg.payload = JSON.parse(msg.payload).TEMP;\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":660,"wires":[["e97e9ae4.ded2f8","e4b44e1a.4e333"]]},{"id":"e97e9ae4.ded2f8","type":"ui_gauge","z":"c62c3571.45aaa8","name":"","group":"c03b7cf9.d313d","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":640,"wires":[]},{"id":"e4b44e1a.4e333","type":"ui_chart","z":"c62c3571.45aaa8","name":"","group":"c03b7cf9.d313d","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":670,"y":680,"wires":[[],[]]},{"id":"2e2b2d5d.016312","type":"function","z":"c62c3571.45aaa8","name":"SHumi","func":"msg.payload = JSON.parse(msg.payload).HUMI;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":760,"wires":[["2dfc21e6.eb055e","c7eec7b1.79e528"]]},{"id":"2dfc21e6.eb055e","type":"ui_gauge","z":"c62c3571.45aaa8","name":"","group":"dd38cc3d.ca61b","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":740,"wires":[]},{"id":"c7eec7b1.79e528","type":"ui_chart","z":"c62c3571.45aaa8","name":"","group":"dd38cc3d.ca61b","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":670,"y":780,"wires":[[],[]]},{"id":"1cfd7efd.4af821","type":"function","z":"c62c3571.45aaa8","name":"send control","func":"let cmd={};\nif(msg.payload === true){\n    cmd.MIST = \"on\";\n}\nif(msg.payload === false){\n    cmd.MIST = \"off\";\n}\nmsg.payload = cmd;\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":320,"wires":[["1fd34ee1.5f3f11"]]},{"id":"cf5136f1.8e2888","type":"ui_switch","z":"c62c3571.45aaa8","name":"","label":"MIST","group":"81bc39a9.a8c208","order":0,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":610,"y":340,"wires":[["1cfd7efd.4af821","337c9213.ae16ce","d9522400.a3ac68"]]},{"id":"1fd34ee1.5f3f11","type":"mqtt out","z":"c62c3571.45aaa8","name":"COMMANDS REQUEST","topic":"Mushroom/Commands/REQUEST/17C80","qos":"2","retain":"true","broker":"a987bbca.d9b508","x":1010,"y":400,"wires":[]},{"id":"c0173918.9d38a8","type":"function","z":"c62c3571.45aaa8","name":"CMist json to bool","func":"let val = JSON.parse(msg.payload).MIST;\n\nif(val === \"on\"){\n    msg.payload = 1;\n    return msg; \n}\nif(val === \"off\"){\n    msg.payload = 0;\n    return msg; \n}\n","outputs":1,"noerr":0,"x":430,"y":340,"wires":[["cf5136f1.8e2888"]]},{"id":"e8a25c72.68f3c","type":"function","z":"c62c3571.45aaa8","name":"send control","func":"let cmd={};\nif(msg.payload === 1){\n    cmd.LIGHT = \"on\";\n}\nif(msg.payload === 0){\n    cmd.LIGHT = \"off\";\n}\nmsg.payload = cmd;\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":120,"wires":[["80a3a4fc.5bf4d8","1fd34ee1.5f3f11"]]},{"id":"ea33e285.e723e","type":"function","z":"c62c3571.45aaa8","name":"send control","func":"let cmd={};\nif(msg.payload === true){\n    cmd.FAN = \"on\";\n}\nif(msg.payload === false){\n    cmd.FAN = \"off\";\n}\nmsg.payload = cmd;\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":220,"wires":[["1fd34ee1.5f3f11"]]},{"id":"c44e761.8378588","type":"mqtt in","z":"c62c3571.45aaa8","name":"COMANDS RESPONSE","topic":"Mushroom/Commands/RESPONSE/17C80","qos":"2","broker":"a987bbca.d9b508","x":170,"y":240,"wires":[["c0173918.9d38a8","a0606e17.9a018","d00a9481.d13108","bab7954b.d974d8"]]},{"id":"f2ef09a2.a1bfe8","type":"ui_switch","z":"c62c3571.45aaa8","name":"","label":"LIGHT","group":"cfb868bc.2ff688","order":0,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":610,"y":140,"wires":[["e8a25c72.68f3c","48e03cd2.e641a4"]]},{"id":"80a3a4fc.5bf4d8","type":"debug","z":"c62c3571.45aaa8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":970,"y":80,"wires":[]},{"id":"167282f1.239bdd","type":"ui_switch","z":"c62c3571.45aaa8","name":"","label":"FAN","group":"71010cb5.4c34a4","order":0,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":610,"y":240,"wires":[["ea33e285.e723e","664e338e.f6827c","ab126d64.77eeb"]]},{"id":"a0606e17.9a018","type":"function","z":"c62c3571.45aaa8","name":"CLight json to bool","func":"let val = JSON.parse(msg.payload).LIGHT;\n\nif(val === \"on\"){\n    msg.payload = 1;\n    return msg; \n}\nif(val === \"off\"){\n    msg.payload = 0;\n    return msg; \n}\n","outputs":1,"noerr":0,"x":430,"y":140,"wires":[["f2ef09a2.a1bfe8","33677579.44973a"]]},{"id":"d00a9481.d13108","type":"function","z":"c62c3571.45aaa8","name":"CFan json to bool","func":"let val = JSON.parse(msg.payload).FAN;\n\nif(val === \"on\"){\n    msg.payload = 1;\n    return msg; \n}\nif(val === \"off\"){\n    msg.payload = 0;\n    return msg; \n}\n","outputs":1,"noerr":0,"x":430,"y":240,"wires":[["167282f1.239bdd"]]},{"id":"48e03cd2.e641a4","type":"function","z":"c62c3571.45aaa8","name":"invert","func":"msg.payload = Math.abs(1 - msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":160,"wires":[["33677579.44973a"]]},{"id":"33677579.44973a","type":"function","z":"c62c3571.45aaa8","name":"made edge","func":"let stt = {};\nstt.payload = Math.abs(1 - msg.payload);\nreturn stt;","outputs":1,"noerr":0,"x":970,"y":140,"wires":[["7edab8da.594608","5cd537d4.8380a8"]]},{"id":"7edab8da.594608","type":"ui_chart","z":"c62c3571.45aaa8","name":"","group":"cfb868bc.2ff688","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"10","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1150,"y":140,"wires":[[],[]]},{"id":"5cd537d4.8380a8","type":"debug","z":"c62c3571.45aaa8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1230,"y":100,"wires":[]},{"id":"d9522400.a3ac68","type":"function","z":"c62c3571.45aaa8","name":"invert","func":"msg.payload = Math.abs(1 - msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":360,"wires":[["337c9213.ae16ce"]]},{"id":"337c9213.ae16ce","type":"function","z":"c62c3571.45aaa8","name":"made edge","func":"let stt = {};\nstt.payload = Math.abs(1 - msg.payload);\nreturn stt;","outputs":1,"noerr":0,"x":970,"y":340,"wires":[["8787aa63.691ad8"]]},{"id":"8787aa63.691ad8","type":"ui_chart","z":"c62c3571.45aaa8","name":"","group":"81bc39a9.a8c208","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"10","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1150,"y":340,"wires":[[],[]]},{"id":"ab126d64.77eeb","type":"function","z":"c62c3571.45aaa8","name":"invert","func":"msg.payload = Math.abs(1 - msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":260,"wires":[["664e338e.f6827c"]]},{"id":"664e338e.f6827c","type":"function","z":"c62c3571.45aaa8","name":"made edge","func":"let stt = {};\nstt.payload = Math.abs(1 - msg.payload);\nreturn stt;","outputs":1,"noerr":0,"x":970,"y":240,"wires":[["2980d527.4d924a"]]},{"id":"2980d527.4d924a","type":"ui_chart","z":"c62c3571.45aaa8","name":"","group":"71010cb5.4c34a4","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"10","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1150,"y":240,"wires":[[],[]]},{"id":"bab7954b.d974d8","type":"file","z":"c62c3571.45aaa8","name":"","filename":"NHANAM.log","appendNewline":true,"createDir":false,"overwriteFile":"false","x":410,"y":440,"wires":[[]]},{"id":"70c78a09.166cf4","type":"mqtt in","z":"818f68e5.b00258","name":"SENSOR DATA","topic":"Mushroom/Sensor/14DB46","qos":"2","broker":"a987bbca.d9b508","x":220,"y":660,"wires":[["5303cff0.c59d","c39c4057.bf79c","4e6bbcd.ed20444","da6acf3f.543ca"]]},{"id":"5303cff0.c59d","type":"function","z":"818f68e5.b00258","name":"SLight","func":"msg.payload = JSON.parse(msg.payload).LIGHT;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":560,"wires":[["c3d3f4c0.ebf7b8","3c1d8779.23e078","18511e47.4138a2"]]},{"id":"c3d3f4c0.ebf7b8","type":"debug","z":"818f68e5.b00258","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":480,"wires":[]},{"id":"3c1d8779.23e078","type":"ui_gauge","z":"818f68e5.b00258","name":"","group":"99b6743.8e0ef88","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"lux","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":540,"wires":[]},{"id":"18511e47.4138a2","type":"ui_chart","z":"818f68e5.b00258","name":"","group":"99b6743.8e0ef88","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"200","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":670,"y":580,"wires":[[],[]]},{"id":"c39c4057.bf79c","type":"function","z":"818f68e5.b00258","name":"STemp","func":"msg.payload = JSON.parse(msg.payload).TEMP;\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":660,"wires":[["29892a3c.718256","9093e52.6382e18"]]},{"id":"29892a3c.718256","type":"ui_gauge","z":"818f68e5.b00258","name":"","group":"59fc008b.d1c3d","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":640,"wires":[]},{"id":"9093e52.6382e18","type":"ui_chart","z":"818f68e5.b00258","name":"","group":"59fc008b.d1c3d","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":670,"y":680,"wires":[[],[]]},{"id":"4e6bbcd.ed20444","type":"function","z":"818f68e5.b00258","name":"SHumi","func":"msg.payload = JSON.parse(msg.payload).HUMI;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":760,"wires":[["71684927.d6dcc8","354dc779.fadf98"]]},{"id":"71684927.d6dcc8","type":"ui_gauge","z":"818f68e5.b00258","name":"","group":"59fc008b.d1c3d","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":740,"wires":[]},{"id":"354dc779.fadf98","type":"ui_chart","z":"818f68e5.b00258","name":"","group":"40a7dfd5.721f8","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":670,"y":780,"wires":[[],[]]},{"id":"6b2ee537.1c4a7c","type":"function","z":"818f68e5.b00258","name":"send control","func":"let cmd={};\nif(msg.payload === true){\n    cmd.MIST = \"on\";\n}\nif(msg.payload === false){\n    cmd.MIST = \"off\";\n}\nmsg.payload = cmd;\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":320,"wires":[["42420a3f.41c284"]]},{"id":"85f40c96.83dde","type":"ui_switch","z":"818f68e5.b00258","name":"","label":"MIST","group":"b9b6530.0826bb","order":0,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":610,"y":340,"wires":[["6b2ee537.1c4a7c","2a82926a.677a6e","3ed1f303.7ffd7c"]]},{"id":"42420a3f.41c284","type":"mqtt out","z":"818f68e5.b00258","name":"COMMANDS REQUEST","topic":"Mushroom/Commands/REQUEST/14DB46","qos":"2","retain":"true","broker":"a987bbca.d9b508","x":1010,"y":400,"wires":[]},{"id":"380e4307.31ed5c","type":"function","z":"818f68e5.b00258","name":"CMist json to bool","func":"let val = JSON.parse(msg.payload).MIST;\n\nif(val === \"on\"){\n    msg.payload = 1;\n    return msg; \n}\nif(val === \"off\"){\n    msg.payload = 0;\n    return msg; \n}\n","outputs":1,"noerr":0,"x":430,"y":340,"wires":[["85f40c96.83dde"]]},{"id":"c99c33a1.db8e1","type":"function","z":"818f68e5.b00258","name":"send control","func":"let cmd={};\nif(msg.payload === 1){\n    cmd.LIGHT = \"on\";\n}\nif(msg.payload === 0){\n    cmd.LIGHT = \"off\";\n}\nmsg.payload = cmd;\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":120,"wires":[["c552c45e.9975e8","42420a3f.41c284"]]},{"id":"61720762.7f6748","type":"function","z":"818f68e5.b00258","name":"send control","func":"let cmd={};\nif(msg.payload === true){\n    cmd.FAN = \"on\";\n}\nif(msg.payload === false){\n    cmd.FAN = \"off\";\n}\nmsg.payload = cmd;\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":220,"wires":[["42420a3f.41c284"]]},{"id":"5ab78578.7b8c4c","type":"mqtt in","z":"818f68e5.b00258","name":"COMANDS RESPONSE","topic":"Mushroom/Commands/RESPONSE/14DB46","qos":"2","broker":"a987bbca.d9b508","x":170,"y":240,"wires":[["380e4307.31ed5c","8ff4d41e.c8a0a8","4745c206.b2442c","da6acf3f.543ca"]]},{"id":"ee58aba1.938558","type":"ui_switch","z":"818f68e5.b00258","name":"","label":"LIGHT","group":"dd1ba90b.625018","order":0,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":610,"y":140,"wires":[["c99c33a1.db8e1","35d718fa.2b2098"]]},{"id":"c552c45e.9975e8","type":"debug","z":"818f68e5.b00258","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":970,"y":80,"wires":[]},{"id":"21c0a665.7ea53a","type":"ui_switch","z":"818f68e5.b00258","name":"","label":"FAN","group":"74e1417b.7e305","order":0,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":610,"y":240,"wires":[["61720762.7f6748","ffc653d8.3569a","8a7d8784.d58b38"]]},{"id":"8ff4d41e.c8a0a8","type":"function","z":"818f68e5.b00258","name":"CLight json to bool","func":"let val = JSON.parse(msg.payload).LIGHT;\n\nif(val === \"on\"){\n    msg.payload = 1;\n    return msg; \n}\nif(val === \"off\"){\n    msg.payload = 0;\n    return msg; \n}\n","outputs":1,"noerr":0,"x":430,"y":140,"wires":[["ee58aba1.938558","91a8cabd.1cfd18"]]},{"id":"4745c206.b2442c","type":"function","z":"818f68e5.b00258","name":"CFan json to bool","func":"let val = JSON.parse(msg.payload).FAN;\n\nif(val === \"on\"){\n    msg.payload = 1;\n    return msg; \n}\nif(val === \"off\"){\n    msg.payload = 0;\n    return msg; \n}\n","outputs":1,"noerr":0,"x":430,"y":240,"wires":[["21c0a665.7ea53a"]]},{"id":"35d718fa.2b2098","type":"function","z":"818f68e5.b00258","name":"invert","func":"msg.payload = Math.abs(1 - msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":160,"wires":[["91a8cabd.1cfd18"]]},{"id":"91a8cabd.1cfd18","type":"function","z":"818f68e5.b00258","name":"made edge","func":"let stt = {};\nstt.payload = Math.abs(1 - msg.payload);\nreturn stt;","outputs":1,"noerr":0,"x":970,"y":140,"wires":[["2b7165a8.7b437a","e7e4c822.fac338"]]},{"id":"2b7165a8.7b437a","type":"ui_chart","z":"818f68e5.b00258","name":"","group":"dd1ba90b.625018","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"10","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1150,"y":140,"wires":[[],[]]},{"id":"e7e4c822.fac338","type":"debug","z":"818f68e5.b00258","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1230,"y":100,"wires":[]},{"id":"3ed1f303.7ffd7c","type":"function","z":"818f68e5.b00258","name":"invert","func":"msg.payload = Math.abs(1 - msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":360,"wires":[["2a82926a.677a6e"]]},{"id":"2a82926a.677a6e","type":"function","z":"818f68e5.b00258","name":"made edge","func":"let stt = {};\nstt.payload = Math.abs(1 - msg.payload);\nreturn stt;","outputs":1,"noerr":0,"x":970,"y":340,"wires":[["75012d51.ffa3b4"]]},{"id":"75012d51.ffa3b4","type":"ui_chart","z":"818f68e5.b00258","name":"","group":"b9b6530.0826bb","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"10","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1150,"y":340,"wires":[[],[]]},{"id":"8a7d8784.d58b38","type":"function","z":"818f68e5.b00258","name":"invert","func":"msg.payload = Math.abs(1 - msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":260,"wires":[["ffc653d8.3569a"]]},{"id":"ffc653d8.3569a","type":"function","z":"818f68e5.b00258","name":"made edge","func":"let stt = {};\nstt.payload = Math.abs(1 - msg.payload);\nreturn stt;","outputs":1,"noerr":0,"x":970,"y":240,"wires":[["944d4bdb.04b0e8"]]},{"id":"944d4bdb.04b0e8","type":"ui_chart","z":"818f68e5.b00258","name":"","group":"74e1417b.7e305","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"10","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1150,"y":240,"wires":[[],[]]},{"id":"da6acf3f.543ca","type":"file","z":"818f68e5.b00258","name":"","filename":"LINHCHI.log","appendNewline":true,"createDir":false,"overwriteFile":"false","x":410,"y":440,"wires":[[]]}]