flows/flows_GITH.json
[{"id":"13597e85.aee481","type":"tab","label":"TUNAM","disabled":false,"info":""},{"id":"c62c3571.45aaa8","type":"tab","label":"NHANAM","disabled":false,"info":""},{"id":"818f68e5.b00258","type":"tab","label":"LINHCHI","disabled":false,"info":""},{"id":"5fbfd7e7.2c7878","type":"tab","label":"MQTT GRAPH","disabled":false,"info":""},{"id":"a987bbca.d9b508","type":"mqtt-broker","z":"","name":"mic.duytan.edu.vn","broker":"mic.duytan.edu.vn","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dbc6c9.1c370938","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"e88a699f.f19b78","type":"ui_tab","z":"","name":"TUNAM","icon":"dashboard","order":1},{"id":"440068d6.944e98","type":"ui_group","z":"","name":"CLight","tab":"e88a699f.f19b78","order":1,"disp":true,"width":"6","collapse":false},{"id":"39453938.f35f76","type":"ui_group","z":"","name":"CMist","tab":"e88a699f.f19b78","order":3,"disp":true,"width":"6","collapse":false},{"id":"536764bf.1f915c","type":"ui_group","z":"","name":"CFan","tab":"e88a699f.f19b78","order":2,"disp":true,"width":"6","collapse":false},{"id":"a12e88eb.8d3618","type":"ui_group","z":"","name":"SLight","tab":"e88a699f.f19b78","order":4,"disp":true,"width":"6","collapse":false},{"id":"3af78bac.25ce04","type":"ui_group","z":"","name":"STemp","tab":"e88a699f.f19b78","order":5,"disp":true,"width":"6","collapse":false},{"id":"88cf0759.d14c58","type":"ui_group","z":"","name":"SHumi","tab":"e88a699f.f19b78","order":6,"disp":true,"width":"6","collapse":false},{"id":"cf67709d.aa90d","type":"ui_tab","z":"","name":"NHANAM","icon":"dashboard","order":2},{"id":"cfb868bc.2ff688","type":"ui_group","z":"","name":"CLight","tab":"cf67709d.aa90d","order":1,"disp":true,"width":"6","collapse":false},{"id":"71010cb5.4c34a4","type":"ui_group","z":"","name":"CFan","tab":"cf67709d.aa90d","order":2,"disp":true,"width":"6","collapse":false},{"id":"81bc39a9.a8c208","type":"ui_group","z":"","name":"CMist","tab":"cf67709d.aa90d","order":3,"disp":true,"width":"6","collapse":false},{"id":"c0da329f.8bc71","type":"ui_group","z":"","name":"SLight","tab":"cf67709d.aa90d","order":4,"disp":true,"width":"6","collapse":false},{"id":"c03b7cf9.d313d","type":"ui_group","z":"","name":"STemp","tab":"cf67709d.aa90d","order":5,"disp":true,"width":"6","collapse":false},{"id":"dd38cc3d.ca61b","type":"ui_group","z":"","name":"SHumi","tab":"cf67709d.aa90d","order":6,"disp":true,"width":"6","collapse":false},{"id":"1ec953b9.9c768c","type":"ui_tab","z":"","name":"LINHCHI","icon":"dashboard","order":3},{"id":"dd1ba90b.625018","type":"ui_group","z":"","name":"CLight","tab":"1ec953b9.9c768c","order":1,"disp":true,"width":"6","collapse":false},{"id":"b9b6530.0826bb","type":"ui_group","z":"","name":"CMist","tab":"1ec953b9.9c768c","order":3,"disp":true,"width":"6","collapse":false},{"id":"74e1417b.7e305","type":"ui_group","z":"","name":"CFan","tab":"1ec953b9.9c768c","order":2,"disp":true,"width":"6","collapse":false},{"id":"99b6743.8e0ef88","type":"ui_group","z":"","name":"SLight","tab":"1ec953b9.9c768c","order":4,"disp":true,"width":"6","collapse":false},{"id":"59fc008b.d1c3d","type":"ui_group","z":"","name":"STemp","tab":"1ec953b9.9c768c","order":5,"disp":true,"width":"6","collapse":false},{"id":"40a7dfd5.721f8","type":"ui_group","z":"","name":"SHumi","tab":"1ec953b9.9c768c","order":6,"disp":true,"width":"6","collapse":false},{"id":"2eee5e1f.7e7cb2","type":"mqtt in","z":"13597e85.aee481","name":"SENSOR DATA","topic":"Mushroom/Sensor/TUNAM","qos":"2","broker":"a987bbca.d9b508","x":200,"y":800,"wires":[["152b889a.264637","ba38fd02.01401","b65d737e.ecfc2","4873f544.b3ee4c"]]},{"id":"152b889a.264637","type":"function","z":"13597e85.aee481","name":"SLight","func":"msg.payload = JSON.parse(msg.payload).LIGHT;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":700,"wires":[["7d8d9f65.483e9","9c1e4c13.31377","f2519770.f4af38"]]},{"id":"7d8d9f65.483e9","type":"debug","z":"13597e85.aee481","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":620,"wires":[]},{"id":"9c1e4c13.31377","type":"ui_gauge","z":"13597e85.aee481","name":"","group":"a12e88eb.8d3618","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"lux","format":"{{value}}","min":0,"max":"300","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":630,"y":680,"wires":[]},{"id":"f2519770.f4af38","type":"ui_chart","z":"13597e85.aee481","name":"","group":"a12e88eb.8d3618","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"300","removeOlder":"6","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":630,"y":720,"wires":[[],[]]},{"id":"ba38fd02.01401","type":"function","z":"13597e85.aee481","name":"STemp","func":"msg.payload = JSON.parse(msg.payload).TEMP;\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":800,"wires":[["e0a737bd.22ff28","cde87828.944758"]]},{"id":"e0a737bd.22ff28","type":"ui_gauge","z":"13597e85.aee481","name":"","group":"3af78bac.25ce04","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":630,"y":780,"wires":[]},{"id":"cde87828.944758","type":"ui_chart","z":"13597e85.aee481","name":"","group":"3af78bac.25ce04","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"6","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":630,"y":820,"wires":[[],[]]},{"id":"b65d737e.ecfc2","type":"function","z":"13597e85.aee481","name":"SHumi","func":"msg.payload = JSON.parse(msg.payload).HUMI;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":900,"wires":[["5634a4e0.e9e93c","582eb373.e3a70c"]]},{"id":"5634a4e0.e9e93c","type":"ui_gauge","z":"13597e85.aee481","name":"","group":"88cf0759.d14c58","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":630,"y":880,"wires":[]},{"id":"582eb373.e3a70c","type":"ui_chart","z":"13597e85.aee481","name":"","group":"88cf0759.d14c58","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"6","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":630,"y":920,"wires":[[],[]]},{"id":"145b117f.f5f96f","type":"function","z":"13597e85.aee481","name":"send control","func":"let cmd={};\nif(msg.payload === 1){\n    cmd.MIST = \"on\";\n}\nif(msg.payload === 0){\n    cmd.MIST = \"off\";\n}\nmsg.payload = cmd;\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":540,"wires":[["24b1a01.3c8216"]]},{"id":"93738611.2fd788","type":"ui_switch","z":"13597e85.aee481","name":"","label":"MIST","group":"39453938.f35f76","order":0,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":630,"y":540,"wires":[["145b117f.f5f96f"]]},{"id":"24b1a01.3c8216","type":"mqtt out","z":"13597e85.aee481","name":"COMMANDS REQUEST","topic":"Mushroom/Commands/REQUEST/TUNAM","qos":"2","retain":"true","broker":"a987bbca.d9b508","x":1070,"y":480,"wires":[]},{"id":"407b71cc.1262c","type":"function","z":"13597e85.aee481","name":"CMist json to bool","func":"let val = JSON.parse(msg.payload).MIST;\n\nif(val === \"on\"){\n    msg.payload = 1;\n    return msg; \n}\nif(val === \"off\"){\n    msg.payload = 0;\n    return msg; \n}\n","outputs":1,"noerr":0,"x":430,"y":540,"wires":[["93738611.2fd788"]]},{"id":"a447670c.b11148","type":"function","z":"13597e85.aee481","name":"send control","func":"let cmd={};\nif(msg.payload === 1){\n    cmd.LIGHT = \"on\";\n}\nif(msg.payload === 0){\n    cmd.LIGHT = \"off\";\n}\nmsg.payload = cmd;\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":420,"wires":[["24b1a01.3c8216"]]},{"id":"cf1a998a.227ed8","type":"function","z":"13597e85.aee481","name":"send control","func":"let cmd={};\nif(msg.payload === 1){\n    cmd.FAN = \"on\";\n}\nif(msg.payload === 0){\n    cmd.FAN = \"off\";\n}\nmsg.payload = cmd;\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":480,"wires":[["24b1a01.3c8216"]]},{"id":"cf494e5d.9e89d","type":"mqtt in","z":"13597e85.aee481","name":"COMANDS RESPONSE","topic":"Mushroom/Commands/RESPONSE/TUNAM","qos":"2","broker":"a987bbca.d9b508","x":170,"y":480,"wires":[["407b71cc.1262c","b6410caf.aec71","54a3ad8.d474854","4873f544.b3ee4c"]]},{"id":"68b87110.9a5c7","type":"ui_switch","z":"13597e85.aee481","name":"","label":"LIGHT","group":"440068d6.944e98","order":0,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":630,"y":420,"wires":[["a447670c.b11148"]]},{"id":"98fdd057.a6757","type":"ui_switch","z":"13597e85.aee481","name":"","label":"FAN","group":"536764bf.1f915c","order":0,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":630,"y":480,"wires":[["cf1a998a.227ed8"]]},{"id":"b6410caf.aec71","type":"function","z":"13597e85.aee481","name":"CLight json to bool","func":"let val = JSON.parse(msg.payload).LIGHT;\n\nif(val === \"on\"){\n    msg.payload = 1;\n    return msg; \n}\nif(val === \"off\"){\n    msg.payload = 0;\n    return msg; \n}\n","outputs":1,"noerr":0,"x":430,"y":420,"wires":[["68b87110.9a5c7"]]},{"id":"54a3ad8.d474854","type":"function","z":"13597e85.aee481","name":"CFan json to bool","func":"let val = JSON.parse(msg.payload).FAN;\n\nif(val === \"on\"){\n    msg.payload = 1;\n    return msg; \n}\nif(val === \"off\"){\n    msg.payload = 0;\n    return msg; \n}\nreturn null;","outputs":1,"noerr":0,"x":430,"y":480,"wires":[["98fdd057.a6757"]]},{"id":"4873f544.b3ee4c","type":"file","z":"13597e85.aee481","name":"","filename":"logs/TUNAM.log","appendNewline":true,"createDir":true,"overwriteFile":"false","x":420,"y":620,"wires":[[]]},{"id":"92ae7b19.e6b038","type":"mqtt in","z":"13597e85.aee481","name":"RELAYS CHANGE","topic":"Mushroom/Logs/TUNAM","qos":"2","broker":"a987bbca.d9b508","x":190,"y":120,"wires":[["7667f260.b8428c","44087e4a.6231e","5cb34d21.11a1d4","ad609010.bc4c4","ef68d83d.7e7188","2c1c8b95.e719b4"]]},{"id":"4f83427e.80b31c","type":"ui_chart","z":"13597e85.aee481","name":"Mist","group":"39453938.f35f76","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"6","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":990,"y":180,"wires":[[],[]]},{"id":"c03296b7.6ce288","type":"ui_chart","z":"13597e85.aee481","name":"Fan","group":"536764bf.1f915c","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"6","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":990,"y":120,"wires":[[],[]]},{"id":"73010da.d6d0ef4","type":"ui_chart","z":"13597e85.aee481","name":"Light","group":"440068d6.944e98","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"6","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":990,"y":60,"wires":[[],[]]},{"id":"cc7ab64f.cdacb8","type":"function","z":"13597e85.aee481","name":"made edge","func":"let stt = {};\nstt.payload = msg.payload;\nreturn stt;","outputs":1,"noerr":0,"x":810,"y":60,"wires":[["73010da.d6d0ef4"]]},{"id":"385b3582.75894a","type":"function","z":"13597e85.aee481","name":"invert","func":"msg.payload = Math.abs(1 - msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":40,"wires":[["cc7ab64f.cdacb8"]]},{"id":"7667f260.b8428c","type":"function","z":"13597e85.aee481","name":"CLight json to bool","func":"let val = {};\nval.payload = JSON.parse(msg.payload).Content;\nif(val.payload === \"Light on\"){\n    val.payload = 1;\n    return val;\n}\nif(val.payload === \"Light off\"){\n    val.payload = 0;\n    return val;\n}","outputs":1,"noerr":0,"x":430,"y":60,"wires":[["385b3582.75894a","cc7ab64f.cdacb8"]]},{"id":"6f26495f.72eb28","type":"function","z":"13597e85.aee481","name":"made edge","func":"let stt = {};\nstt.payload = msg.payload;\nreturn stt;","outputs":1,"noerr":0,"x":810,"y":120,"wires":[["c03296b7.6ce288"]]},{"id":"673c2202.7b9bfc","type":"function","z":"13597e85.aee481","name":"invert","func":"msg.payload = Math.abs(1 - msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":100,"wires":[["6f26495f.72eb28"]]},{"id":"44087e4a.6231e","type":"function","z":"13597e85.aee481","name":"CFan json to bool","func":"let val = {};\nval.payload = JSON.parse(msg.payload).Content;\nif(val.payload === \"Fan_Wind on\"){\n    val.payload = 1;\n    return val;\n}\nif(val.payload === \"Fan_Wind off\"){\n    val.payload = 0;\n    return val;\n}","outputs":1,"noerr":0,"x":430,"y":120,"wires":[["673c2202.7b9bfc","6f26495f.72eb28"]]},{"id":"7f99e4b4.b75a6c","type":"function","z":"13597e85.aee481","name":"made edge","func":"let stt = {};\nstt.payload = msg.payload;\nreturn stt;","outputs":1,"noerr":0,"x":810,"y":180,"wires":[["4f83427e.80b31c"]]},{"id":"4a9561d6.f12e4","type":"function","z":"13597e85.aee481","name":"invert","func":"msg.payload = Math.abs(1 - msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":160,"wires":[["7f99e4b4.b75a6c"]]},{"id":"5cb34d21.11a1d4","type":"function","z":"13597e85.aee481","name":"CMist json to bool","func":"let val = {};\nval.payload = JSON.parse(msg.payload).Content;\nif(val.payload === \"Pump_Mix on\"){\n    val.payload = 1;\n    return val;\n}\nif(val.payload === \"Pump_Mix off\"){\n    val.payload = 0;\n    return val;\n}","outputs":1,"noerr":0,"x":430,"y":180,"wires":[["4a9561d6.f12e4","7f99e4b4.b75a6c"]]},{"id":"97368e4c.3f0ee","type":"mqtt in","z":"c62c3571.45aaa8","name":"SENSOR DATA","topic":"Mushroom/Sensor/17C80","qos":"2","broker":"a987bbca.d9b508","x":220,"y":800,"wires":[["b230278e.76f8b8","54351364.50a05c","63eae7fd.1b9a78","9b981b5.53757e8"]]},{"id":"b230278e.76f8b8","type":"function","z":"c62c3571.45aaa8","name":"SLight","func":"msg.payload = JSON.parse(msg.payload).LIGHT;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":700,"wires":[["f054a086.04a1b","5545e00f.a7885","f8a97d23.dd6d1"]]},{"id":"f054a086.04a1b","type":"debug","z":"c62c3571.45aaa8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":620,"wires":[]},{"id":"5545e00f.a7885","type":"ui_gauge","z":"c62c3571.45aaa8","name":"","group":"c0da329f.8bc71","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"lux","format":"{{value}}","min":0,"max":"300","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":680,"wires":[]},{"id":"f8a97d23.dd6d1","type":"ui_chart","z":"c62c3571.45aaa8","name":"","group":"c0da329f.8bc71","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"300","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":670,"y":720,"wires":[[],[]]},{"id":"54351364.50a05c","type":"function","z":"c62c3571.45aaa8","name":"STemp","func":"msg.payload = JSON.parse(msg.payload).TEMP;\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":800,"wires":[["39b6fe41.dd1272","99cc8f9e.06419"]]},{"id":"39b6fe41.dd1272","type":"ui_gauge","z":"c62c3571.45aaa8","name":"","group":"c03b7cf9.d313d","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":780,"wires":[]},{"id":"99cc8f9e.06419","type":"ui_chart","z":"c62c3571.45aaa8","name":"","group":"c03b7cf9.d313d","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":670,"y":820,"wires":[[],[]]},{"id":"63eae7fd.1b9a78","type":"function","z":"c62c3571.45aaa8","name":"SHumi","func":"msg.payload = JSON.parse(msg.payload).HUMI;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":900,"wires":[["318cff2e.55e3c","9bc9eda4.efa5e"]]},{"id":"318cff2e.55e3c","type":"ui_gauge","z":"c62c3571.45aaa8","name":"","group":"dd38cc3d.ca61b","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":880,"wires":[]},{"id":"9bc9eda4.efa5e","type":"ui_chart","z":"c62c3571.45aaa8","name":"","group":"dd38cc3d.ca61b","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":670,"y":920,"wires":[[],[]]},{"id":"42dfddd9.3eef54","type":"function","z":"c62c3571.45aaa8","name":"send control","func":"let cmd={};\nif(msg.payload === 1){\n    cmd.MIST = \"on\";\n}\nif(msg.payload === 0){\n    cmd.MIST = \"off\";\n}\nmsg.payload = cmd;\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":540,"wires":[["981f54f5.57efd8"]]},{"id":"8ec2201d.2fbb4","type":"ui_switch","z":"c62c3571.45aaa8","name":"","label":"MIST","group":"81bc39a9.a8c208","order":0,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":610,"y":540,"wires":[["42dfddd9.3eef54"]]},{"id":"981f54f5.57efd8","type":"mqtt out","z":"c62c3571.45aaa8","name":"COMMANDS REQUEST","topic":"Mushroom/Commands/REQUEST/17C80","qos":"2","retain":"true","broker":"a987bbca.d9b508","x":1030,"y":480,"wires":[]},{"id":"e4439dfd.c07b3","type":"function","z":"c62c3571.45aaa8","name":"CMist json to bool","func":"let val = JSON.parse(msg.payload).MIST;\n\nif(val === \"on\"){\n    msg.payload = 1;\n    return msg; \n}\nif(val === \"off\"){\n    msg.payload = 0;\n    return msg; \n}\n","outputs":1,"noerr":0,"x":430,"y":540,"wires":[["8ec2201d.2fbb4"]]},{"id":"314539c4.b85736","type":"function","z":"c62c3571.45aaa8","name":"send control","func":"let cmd={};\nif(msg.payload === 1){\n    cmd.LIGHT = \"on\";\n}\nif(msg.payload === 0){\n    cmd.LIGHT = \"off\";\n}\nmsg.payload = cmd;\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":420,"wires":[["981f54f5.57efd8"]]},{"id":"bfeca6d3.767068","type":"function","z":"c62c3571.45aaa8","name":"send control","func":"let cmd={};\nif(msg.payload === 1){\n    cmd.FAN = \"on\";\n}\nif(msg.payload === 0){\n    cmd.FAN = \"off\";\n}\nmsg.payload = cmd;\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":480,"wires":[["981f54f5.57efd8"]]},{"id":"ef75e147.164","type":"mqtt in","z":"c62c3571.45aaa8","name":"COMANDS RESPONSE","topic":"Mushroom/Commands/RESPONSE/17C80","qos":"2","broker":"a987bbca.d9b508","x":170,"y":480,"wires":[["e4439dfd.c07b3","642fafe0.bb0ac","4a6d14c6.bef5cc","9b981b5.53757e8"]]},{"id":"43c96e24.15c55","type":"ui_switch","z":"c62c3571.45aaa8","name":"","label":"LIGHT","group":"cfb868bc.2ff688","order":0,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":610,"y":420,"wires":[["314539c4.b85736"]]},{"id":"b3fb843e.ae9a88","type":"ui_switch","z":"c62c3571.45aaa8","name":"","label":"FAN","group":"71010cb5.4c34a4","order":0,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":610,"y":480,"wires":[["bfeca6d3.767068"]]},{"id":"642fafe0.bb0ac","type":"function","z":"c62c3571.45aaa8","name":"CLight json to bool","func":"let val = JSON.parse(msg.payload).LIGHT;\n\nif(val === \"on\"){\n    msg.payload = 1;\n    return msg; \n}\nif(val === \"off\"){\n    msg.payload = 0;\n    return msg; \n}\n","outputs":1,"noerr":0,"x":430,"y":420,"wires":[["43c96e24.15c55"]]},{"id":"4a6d14c6.bef5cc","type":"function","z":"c62c3571.45aaa8","name":"CFan json to bool","func":"let val = JSON.parse(msg.payload).FAN;\n\nif(val === \"on\"){\n    msg.payload = 1;\n    return msg; \n}\nif(val === \"off\"){\n    msg.payload = 0;\n    return msg; \n}\nreturn null;","outputs":1,"noerr":0,"x":430,"y":480,"wires":[["b3fb843e.ae9a88"]]},{"id":"9b981b5.53757e8","type":"file","z":"c62c3571.45aaa8","name":"","filename":"logs/NHANAM.log","appendNewline":true,"createDir":true,"overwriteFile":"false","x":430,"y":620,"wires":[[]]},{"id":"8370a484.144018","type":"mqtt in","z":"c62c3571.45aaa8","name":"RELAYS CHANGE","topic":"Mushroom/Logs/17C80","qos":"2","broker":"a987bbca.d9b508","x":190,"y":120,"wires":[["824ec10e.06075","e2d3182.3ccbde8","1379233c.0ad0bd","ee00a18d.a01ec","20056cef.ad44a4","8a33db78.28d568"]]},{"id":"8b0fcfe7.9065","type":"ui_chart","z":"c62c3571.45aaa8","name":"Mist","group":"81bc39a9.a8c208","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"10","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":990,"y":180,"wires":[[],[]]},{"id":"e66d5246.fbb6d","type":"ui_chart","z":"c62c3571.45aaa8","name":"Fan","group":"71010cb5.4c34a4","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"10","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":990,"y":120,"wires":[[],[]]},{"id":"e1e77302.40316","type":"ui_chart","z":"c62c3571.45aaa8","name":"Light","group":"cfb868bc.2ff688","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"10","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":990,"y":60,"wires":[[],[]]},{"id":"6c5b7ca2.f03344","type":"function","z":"c62c3571.45aaa8","name":"made edge","func":"let stt = {};\nstt.payload = msg.payload;\nreturn stt;","outputs":1,"noerr":0,"x":810,"y":60,"wires":[["e1e77302.40316"]]},{"id":"902ab1d4.9749e","type":"function","z":"c62c3571.45aaa8","name":"invert","func":"msg.payload = Math.abs(1 - msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":40,"wires":[["6c5b7ca2.f03344"]]},{"id":"824ec10e.06075","type":"function","z":"c62c3571.45aaa8","name":"CLight json to bool","func":"let val = {};\nval.payload = JSON.parse(msg.payload).Content;\nif(val.payload === \"Light on\"){\n    val.payload = 1;\n    return val;\n}\nif(val.payload === \"Light off\"){\n    val.payload = 0;\n    return val;\n}","outputs":1,"noerr":0,"x":430,"y":60,"wires":[["902ab1d4.9749e","6c5b7ca2.f03344"]]},{"id":"da927c30.3dcce","type":"function","z":"c62c3571.45aaa8","name":"made edge","func":"let stt = {};\nstt.payload = msg.payload;\nreturn stt;","outputs":1,"noerr":0,"x":810,"y":120,"wires":[["e66d5246.fbb6d"]]},{"id":"a4e740a5.4cac4","type":"function","z":"c62c3571.45aaa8","name":"invert","func":"msg.payload = Math.abs(1 - msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":100,"wires":[["da927c30.3dcce"]]},{"id":"e2d3182.3ccbde8","type":"function","z":"c62c3571.45aaa8","name":"CFan json to bool","func":"let val = {};\nval.payload = JSON.parse(msg.payload).Content;\nif(val.payload === \"Fan_Wind on\"){\n    val.payload = 1;\n    return val;\n}\nif(val.payload === \"Fan_Wind off\"){\n    val.payload = 0;\n    return val;\n}","outputs":1,"noerr":0,"x":430,"y":120,"wires":[["a4e740a5.4cac4","da927c30.3dcce"]]},{"id":"b8613716.1bab48","type":"function","z":"c62c3571.45aaa8","name":"made edge","func":"let stt = {};\nstt.payload = msg.payload;\nreturn stt;","outputs":1,"noerr":0,"x":810,"y":180,"wires":[["8b0fcfe7.9065"]]},{"id":"6885a97c.f387e8","type":"function","z":"c62c3571.45aaa8","name":"invert","func":"msg.payload = Math.abs(1 - msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":160,"wires":[["b8613716.1bab48"]]},{"id":"1379233c.0ad0bd","type":"function","z":"c62c3571.45aaa8","name":"CMist json to bool","func":"let val = {};\nval.payload = JSON.parse(msg.payload).Content;\nif(val.payload === \"Pump_Mix on\"){\n    val.payload = 1;\n    return val;\n}\nif(val.payload === \"Pump_Mix off\"){\n    val.payload = 0;\n    return val;\n}","outputs":1,"noerr":0,"x":430,"y":180,"wires":[["6885a97c.f387e8","b8613716.1bab48"]]},{"id":"9d9e9de7.a7eed","type":"mqtt in","z":"818f68e5.b00258","name":"SENSOR DATA","topic":"Mushroom/Sensor/14DB46","qos":"2","broker":"a987bbca.d9b508","x":220,"y":800,"wires":[["141dc3ec.6b354c","fb7dc53f.5b9db8","aabe969c.88e828","d6341589.925368"]]},{"id":"141dc3ec.6b354c","type":"function","z":"818f68e5.b00258","name":"SLight","func":"msg.payload = JSON.parse(msg.payload).LIGHT;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":700,"wires":[["8286ac0e.cf4ee","72d7c7f2.47fd58","74982a.0e05e7d8"]]},{"id":"8286ac0e.cf4ee","type":"debug","z":"818f68e5.b00258","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":620,"wires":[]},{"id":"72d7c7f2.47fd58","type":"ui_gauge","z":"818f68e5.b00258","name":"","group":"99b6743.8e0ef88","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"lux","format":"{{value}}","min":0,"max":"300","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":680,"wires":[]},{"id":"74982a.0e05e7d8","type":"ui_chart","z":"818f68e5.b00258","name":"","group":"99b6743.8e0ef88","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"300","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":670,"y":720,"wires":[[],[]]},{"id":"fb7dc53f.5b9db8","type":"function","z":"818f68e5.b00258","name":"STemp","func":"msg.payload = JSON.parse(msg.payload).TEMP;\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":800,"wires":[["accec4a2.c3d918","9e4cafe1.07ce1"]]},{"id":"accec4a2.c3d918","type":"ui_gauge","z":"818f68e5.b00258","name":"","group":"59fc008b.d1c3d","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":780,"wires":[]},{"id":"9e4cafe1.07ce1","type":"ui_chart","z":"818f68e5.b00258","name":"","group":"59fc008b.d1c3d","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":670,"y":820,"wires":[[],[]]},{"id":"aabe969c.88e828","type":"function","z":"818f68e5.b00258","name":"SHumi","func":"msg.payload = JSON.parse(msg.payload).HUMI;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":900,"wires":[["fa90db60.012208","7ca537a2.0104d8"]]},{"id":"fa90db60.012208","type":"ui_gauge","z":"818f68e5.b00258","name":"","group":"40a7dfd5.721f8","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":880,"wires":[]},{"id":"7ca537a2.0104d8","type":"ui_chart","z":"818f68e5.b00258","name":"","group":"40a7dfd5.721f8","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":670,"y":920,"wires":[[],[]]},{"id":"70fd0a2f.7ff7c4","type":"function","z":"818f68e5.b00258","name":"send control","func":"let cmd={};\nif(msg.payload === 1){\n    cmd.MIST = \"on\";\n}\nif(msg.payload === 0){\n    cmd.MIST = \"off\";\n}\nmsg.payload = cmd;\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":540,"wires":[["25fd7a3e.b48516"]]},{"id":"bc58fc7e.48db","type":"ui_switch","z":"818f68e5.b00258","name":"","label":"MIST","group":"b9b6530.0826bb","order":0,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":610,"y":540,"wires":[["70fd0a2f.7ff7c4"]]},{"id":"25fd7a3e.b48516","type":"mqtt out","z":"818f68e5.b00258","name":"COMMANDS REQUEST","topic":"Mushroom/Commands/REQUEST/14DB46","qos":"2","retain":"true","broker":"a987bbca.d9b508","x":1030,"y":480,"wires":[]},{"id":"db921724.d21e98","type":"function","z":"818f68e5.b00258","name":"CMist json to bool","func":"let val = JSON.parse(msg.payload).MIST;\n\nif(val === \"on\"){\n    msg.payload = 1;\n    return msg; \n}\nif(val === \"off\"){\n    msg.payload = 0;\n    return msg; \n}\n","outputs":1,"noerr":0,"x":430,"y":540,"wires":[["bc58fc7e.48db"]]},{"id":"6974f697.c4dd58","type":"function","z":"818f68e5.b00258","name":"send control","func":"let cmd={};\nif(msg.payload === 1){\n    cmd.LIGHT = \"on\";\n}\nif(msg.payload === 0){\n    cmd.LIGHT = \"off\";\n}\nmsg.payload = cmd;\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":420,"wires":[["25fd7a3e.b48516"]]},{"id":"ef823339.1388b","type":"function","z":"818f68e5.b00258","name":"send control","func":"let cmd={};\nif(msg.payload === 1){\n    cmd.FAN = \"on\";\n}\nif(msg.payload === 0){\n    cmd.FAN = \"off\";\n}\nmsg.payload = cmd;\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":480,"wires":[["25fd7a3e.b48516"]]},{"id":"92ec8dab.28543","type":"mqtt in","z":"818f68e5.b00258","name":"COMANDS RESPONSE","topic":"Mushroom/Commands/RESPONSE/14DB46","qos":"2","broker":"a987bbca.d9b508","x":170,"y":480,"wires":[["db921724.d21e98","5a413ecb.38d0f","ee9faabc.7ec868","d6341589.925368"]]},{"id":"c9187e6f.08e8b","type":"ui_switch","z":"818f68e5.b00258","name":"","label":"LIGHT","group":"dd1ba90b.625018","order":0,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":610,"y":420,"wires":[["6974f697.c4dd58"]]},{"id":"80c10b96.ce5bc8","type":"ui_switch","z":"818f68e5.b00258","name":"","label":"FAN","group":"74e1417b.7e305","order":0,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":610,"y":480,"wires":[["ef823339.1388b"]]},{"id":"5a413ecb.38d0f","type":"function","z":"818f68e5.b00258","name":"CLight json to bool","func":"let val = JSON.parse(msg.payload).LIGHT;\n\nif(val === \"on\"){\n    msg.payload = 1;\n    return msg; \n}\nif(val === \"off\"){\n    msg.payload = 0;\n    return msg; \n}\n","outputs":1,"noerr":0,"x":430,"y":420,"wires":[["c9187e6f.08e8b"]]},{"id":"ee9faabc.7ec868","type":"function","z":"818f68e5.b00258","name":"CFan json to bool","func":"let val = JSON.parse(msg.payload).FAN;\n\nif(val === \"on\"){\n    msg.payload = 1;\n    return msg; \n}\nif(val === \"off\"){\n    msg.payload = 0;\n    return msg; \n}\nreturn null;","outputs":1,"noerr":0,"x":430,"y":480,"wires":[["80c10b96.ce5bc8"]]},{"id":"d6341589.925368","type":"file","z":"818f68e5.b00258","name":"","filename":"logs/LINHCHI.log","appendNewline":true,"createDir":false,"overwriteFile":"false","x":430,"y":620,"wires":[[]]},{"id":"c53671ca.43132","type":"mqtt in","z":"818f68e5.b00258","name":"RELAYS CHANGE","topic":"Mushroom/Logs/14DB46","qos":"2","broker":"a987bbca.d9b508","x":190,"y":120,"wires":[["4d4b2464.09cb0c","e60cd939.56bb58","ad492b39.c30968","4bc2e5c.c935c1c","4cbb2325.18f17c","bd55a4cf.c83418"]]},{"id":"cd7c6bc4.018788","type":"ui_chart","z":"818f68e5.b00258","name":"Mist","group":"b9b6530.0826bb","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"10","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":990,"y":180,"wires":[[],[]]},{"id":"933e0e20.0e2b1","type":"ui_chart","z":"818f68e5.b00258","name":"Fan","group":"74e1417b.7e305","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"10","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":990,"y":120,"wires":[[],[]]},{"id":"ea0afe57.2bc42","type":"ui_chart","z":"818f68e5.b00258","name":"Light","group":"dd1ba90b.625018","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"10","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":990,"y":60,"wires":[[],[]]},{"id":"b6ad5f3f.94dec","type":"function","z":"818f68e5.b00258","name":"made edge","func":"let stt = {};\nstt.payload = msg.payload;\nreturn stt;","outputs":1,"noerr":0,"x":810,"y":60,"wires":[["ea0afe57.2bc42"]]},{"id":"711d23cb.772bfc","type":"function","z":"818f68e5.b00258","name":"invert","func":"msg.payload = Math.abs(1 - msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":40,"wires":[["b6ad5f3f.94dec"]]},{"id":"4d4b2464.09cb0c","type":"function","z":"818f68e5.b00258","name":"CLight json to bool","func":"let val = {};\nval.payload = JSON.parse(msg.payload).Content;\nif(val.payload === \"Light on\"){\n    val.payload = 1;\n    return val;\n}\nif(val.payload === \"Light off\"){\n    val.payload = 0;\n    return val;\n}","outputs":1,"noerr":0,"x":430,"y":60,"wires":[["711d23cb.772bfc","b6ad5f3f.94dec"]]},{"id":"a7699c32.8ffb","type":"function","z":"818f68e5.b00258","name":"made edge","func":"let stt = {};\nstt.payload = msg.payload;\nreturn stt;","outputs":1,"noerr":0,"x":810,"y":120,"wires":[["933e0e20.0e2b1"]]},{"id":"e42ba2f4.34b21","type":"function","z":"818f68e5.b00258","name":"invert","func":"msg.payload = Math.abs(1 - msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":100,"wires":[["a7699c32.8ffb"]]},{"id":"e60cd939.56bb58","type":"function","z":"818f68e5.b00258","name":"CFan json to bool","func":"let val = {};\nval.payload = JSON.parse(msg.payload).Content;\nif(val.payload === \"Fan_Wind on\"){\n    val.payload = 1;\n    return val;\n}\nif(val.payload === \"Fan_Wind off\"){\n    val.payload = 0;\n    return val;\n}","outputs":1,"noerr":0,"x":430,"y":120,"wires":[["e42ba2f4.34b21","a7699c32.8ffb"]]},{"id":"41ea947e.e2dc0c","type":"function","z":"818f68e5.b00258","name":"made edge","func":"let stt = {};\nstt.payload = msg.payload;\nreturn stt;","outputs":1,"noerr":0,"x":810,"y":180,"wires":[["cd7c6bc4.018788"]]},{"id":"4d127223.a727bc","type":"function","z":"818f68e5.b00258","name":"invert","func":"msg.payload = Math.abs(1 - msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":160,"wires":[["41ea947e.e2dc0c"]]},{"id":"ad492b39.c30968","type":"function","z":"818f68e5.b00258","name":"CMist json to bool","func":"let val = {};\nval.payload = JSON.parse(msg.payload).Content;\nif(val.payload === \"Pump_Mix on\"){\n    val.payload = 1;\n    return val;\n}\nif(val.payload === \"Pump_Mix off\"){\n    val.payload = 0;\n    return val;\n}","outputs":1,"noerr":0,"x":430,"y":180,"wires":[["4d127223.a727bc","41ea947e.e2dc0c"]]},{"id":"ebbb801a.9892b","type":"ui_toast","z":"13597e85.aee481","position":"bottom right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":670,"y":300,"wires":[]},{"id":"ef68d83d.7e7188","type":"function","z":"13597e85.aee481","name":"Web Notify","func":"let HubID = \"TUNAM\";\nlet val = JSON.parse(msg.payload);\nvar ret={};\nret.topic = HubID;\nret.payload = val.Content + \" | \" + val.From;\nreturn ret;","outputs":1,"noerr":0,"x":410,"y":300,"wires":[["ebbb801a.9892b"]]},{"id":"e546bbdb.3b6df8","type":"file","z":"13597e85.aee481","name":"","filename":"logs/TUNAM_CHANGES.log","appendNewline":true,"createDir":true,"overwriteFile":"false","x":700,"y":240,"wires":[[]]},{"id":"ad609010.bc4c4","type":"function","z":"13597e85.aee481","name":"add Date","func":"let val = JSON.parse(msg.payload);\n\nlet ts = Number(val.Timestamp) * 1000;\n\nlet time = new Date(ts).toLocaleTimeString(\"en-US\") ; \nlet date = new Date(ts).toLocaleDateString(\"en-US\");\nval.Date = time + \" \" + date;\n\nmsg.payload = val;\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":240,"wires":[["e546bbdb.3b6df8"]]},{"id":"6da200ef.98fb8","type":"file","z":"c62c3571.45aaa8","name":"","filename":"logs/NHANAM_CHANGES.log","appendNewline":true,"createDir":true,"overwriteFile":"false","x":710,"y":240,"wires":[[]]},{"id":"ee00a18d.a01ec","type":"function","z":"c62c3571.45aaa8","name":"add Date","func":"let val = JSON.parse(msg.payload);\n\nlet ts = Number(val.Timestamp) * 1000;\n\nlet time = new Date(ts).toLocaleTimeString(\"en-US\") ; \nlet date = new Date(ts).toLocaleDateString(\"en-US\");\nval.Date = time + \" \" + date;\n\nmsg.payload = val;\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":240,"wires":[["6da200ef.98fb8"]]},{"id":"f453fea2.2a636","type":"file","z":"818f68e5.b00258","name":"","filename":"logs/LINHCHI_CHANGES.log","appendNewline":true,"createDir":true,"overwriteFile":"false","x":710,"y":240,"wires":[[]]},{"id":"4bc2e5c.c935c1c","type":"function","z":"818f68e5.b00258","name":"add Date","func":"let val = JSON.parse(msg.payload);\n\nlet ts = Number(val.Timestamp) * 1000;\n\nlet time = new Date(ts).toLocaleTimeString(\"en-US\") ; \nlet date = new Date(ts).toLocaleDateString(\"en-US\");\nval.Date = time + \" \" + date;\n\nmsg.payload = val;\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":240,"wires":[["f453fea2.2a636"]]},{"id":"e53aef8a.3977b","type":"nnotify","z":"13597e85.aee481","title":"","name":"","x":630,"y":340,"wires":[]},{"id":"2c1c8b95.e719b4","type":"function","z":"13597e85.aee481","name":"Windows Notify","func":"let HubID = \"TUNAM\";\nlet val = JSON.parse(msg.payload);\nlet ret={};\nlet d = new Date();\nlet t = d.toLocaleTimeString();\n\nret.topic = HubID;\nret.payload = val.Content + \" | \" + val.From + \" | \" + t;\n\nif (val.Content === \"Light on\"){\n    ret.icon = \"./flows/mushroom_icon/light_on.png\";   \n}\nelse if (val.Content === \"Light off\"){\n    ret.icon = \"./flows/mushroom_icon/light_off.png\";   \n}\nelse if (val.Content === \"Fan_Mix on\" || val.Content == \"Fan_Wind on\"){\n    ret.icon = \"./flows/mushroom_icon/fan_on.png\";   \n}\nelse if (val.Content === \"Fan_Mix off\" || val.Content == \"Fan_Wind off\"){\n    ret.icon = \"./flows/mushroom_icon/fan_off.png\";   \n}\nelse if (val.Content === \"Pump_Mix on\" || val.Content == \"Pump_Floor on\"){\n    ret.icon = \"./flows/mushroom_icon/water_on.png\";   \n}\nelse if (val.Content === \"Pump_Mix off\" || val.Content == \"Pump_Floor off\"){\n    ret.icon = \"./flows/mushroom_icon/water_off.png\";   \n}\n\nreturn ret;","outputs":1,"noerr":0,"x":420,"y":340,"wires":[["e53aef8a.3977b"]]},{"id":"b7c04d0c.5cfe8","type":"ui_toast","z":"c62c3571.45aaa8","position":"bottom right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":670,"y":300,"wires":[]},{"id":"20056cef.ad44a4","type":"function","z":"c62c3571.45aaa8","name":"Web Notify","func":"let HubID = \"NHANAM\";\nlet val = JSON.parse(msg.payload);\nvar ret={};\nret.topic = HubID;\nret.payload = val.Content + \" | \" + val.From;\nreturn ret;","outputs":1,"noerr":0,"x":410,"y":300,"wires":[["b7c04d0c.5cfe8"]]},{"id":"56e239a7.74d268","type":"nnotify","z":"c62c3571.45aaa8","title":"","name":"","x":630,"y":340,"wires":[]},{"id":"8a33db78.28d568","type":"function","z":"c62c3571.45aaa8","name":"Windows Notify","func":"let HubID = \"NHANAM\";\nlet val = JSON.parse(msg.payload);\nlet ret={};\nlet d = new Date();\nlet t = d.toLocaleTimeString();\n\nret.topic = HubID;\nret.payload = val.Content + \" | \" + val.From + \" | \" + t;\n\nif (val.Content === \"Light on\"){\n    ret.icon = \"./flows/mushroom_icon/light_on.png\";   \n}\nelse if (val.Content === \"Light off\"){\n    ret.icon = \"./flows/mushroom_icon/light_off.png\";   \n}\nelse if (val.Content === \"Fan_Mix on\" || val.Content == \"Fan_Wind on\"){\n    ret.icon = \"./flows/mushroom_icon/fan_on.png\";   \n}\nelse if (val.Content === \"Fan_Mix off\" || val.Content == \"Fan_Wind off\"){\n    ret.icon = \"./flows/mushroom_icon/fan_off.png\";   \n}\nelse if (val.Content === \"Pump_Mix on\" || val.Content == \"Pump_Floor on\"){\n    ret.icon = \"./flows/mushroom_icon/water_on.png\";   \n}\nelse if (val.Content === \"Pump_Mix off\" || val.Content == \"Pump_Floor off\"){\n    ret.icon = \"./flows/mushroom_icon/water_off.png\";   \n}\n\nreturn ret;","outputs":1,"noerr":0,"x":420,"y":340,"wires":[["56e239a7.74d268"]]},{"id":"3fc657a9.42b558","type":"ui_toast","z":"818f68e5.b00258","position":"bottom right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":670,"y":300,"wires":[]},{"id":"4cbb2325.18f17c","type":"function","z":"818f68e5.b00258","name":"Web Notify","func":"let HubID = \"LINHCHI\";\nlet val = JSON.parse(msg.payload);\nvar ret={};\nret.topic = HubID;\nret.payload = val.Content + \" | \" + val.From;\nreturn ret;","outputs":1,"noerr":0,"x":410,"y":300,"wires":[["3fc657a9.42b558"]]},{"id":"722f05d4.e881ac","type":"nnotify","z":"818f68e5.b00258","title":"","name":"","x":630,"y":340,"wires":[]},{"id":"bd55a4cf.c83418","type":"function","z":"818f68e5.b00258","name":"Windows Notify","func":"let HubID = \"LINHCHI\";\nlet val = JSON.parse(msg.payload);\nlet ret={};\nlet d = new Date();\nlet t = d.toLocaleTimeString();\n\nret.topic = HubID;\nret.payload = val.Content + \" | \" + val.From + \" | \" + t;\n\nif (val.Content === \"Light on\"){\n    ret.icon = \"./flows/mushroom_icon/light_on.png\";   \n}\nelse if (val.Content === \"Light off\"){\n    ret.icon = \"./flows/mushroom_icon/light_off.png\";   \n}\nelse if (val.Content === \"Fan_Mix on\" || val.Content == \"Fan_Wind on\"){\n    ret.icon = \"./flows/mushroom_icon/fan_on.png\";   \n}\nelse if (val.Content === \"Fan_Mix off\" || val.Content == \"Fan_Wind off\"){\n    ret.icon = \"./flows/mushroom_icon/fan_off.png\";   \n}\nelse if (val.Content === \"Pump_Mix on\" || val.Content == \"Pump_Floor on\"){\n    ret.icon = \"./flows/mushroom_icon/water_on.png\";   \n}\nelse if (val.Content === \"Pump_Mix off\" || val.Content == \"Pump_Floor off\"){\n    ret.icon = \"./flows/mushroom_icon/water_off.png\";   \n}\n\nreturn ret;","outputs":1,"noerr":0,"x":420,"y":340,"wires":[["722f05d4.e881ac"]]},{"id":"5d8352e8.a79f7c","type":"mqtt in","z":"13597e85.aee481","name":"","topic":"Mushroom/Debug/TUNAM","qos":"2","broker":"a987bbca.d9b508","x":170,"y":1000,"wires":[["356b46c2.e6b00a","35de1136.94e26e"]]},{"id":"78c92626.4e24d8","type":"file","z":"13597e85.aee481","name":"","filename":"logs/TUNAM_Debug.log","appendNewline":true,"createDir":true,"overwriteFile":"false","x":690,"y":1000,"wires":[[]]},{"id":"356b46c2.e6b00a","type":"function","z":"13597e85.aee481","name":"add Date","func":"let time = new Date().toLocaleTimeString(\"en-US\") ; \nlet date = new Date().toLocaleDateString(\"en-US\");\nmsg.payload = time + \" \" + date + \" \" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":1000,"wires":[["78c92626.4e24d8","35de1136.94e26e"]]},{"id":"35de1136.94e26e","type":"debug","z":"13597e85.aee481","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":1040,"wires":[]},{"id":"412ea5a6.65856c","type":"http response","z":"5fbfd7e7.2c7878","name":"","statusCode":"","headers":{},"x":830,"y":260,"wires":[]},{"id":"a1ae9b44.1a29b8","type":"template","z":"5fbfd7e7.2c7878","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n\t<title>MQTT Graph</title>\n\t<!-- <meta name='viewport' content='width=device-width,  initial-scale=1'> -->\n</head>\n<iframe src=\"https://shiftr.io/tackelua/MIC/embed?zoom=1\" width=100% height=\"700\" frameborder=\"0\" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>\n</body>\n</html>","output":"str","x":630,"y":260,"wires":[["412ea5a6.65856c"]]},{"id":"c143cac6.7fc848","type":"http in","z":"5fbfd7e7.2c7878","name":"get /graph","url":"/graph","method":"get","upload":false,"swaggerDoc":"","x":420,"y":260,"wires":[["a1ae9b44.1a29b8"]]}]